*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}


/* hover effect for right navbar icons */

.right_icons:hover{
    color:black;
}



.post_logos:hover{
    background-color:lightgrey;
}


 .input_op img:hover{
    background-color:lightgrey;
    border-radius: 10px;

} 

.post_info p:hover{
  color:blue;
  
}



@media screen and (max-width: 1000px) {
    .right_widjets {
      display: none;
    }
  }



@media screen and (max-width: 600px) {
    .sidebar{
      display: none;
    }
    .main-body{
      padding: 0px;
      }
  
      .search{
        display: none;
      }
      .middle_postsection{
        width: 500px;
      }
      .post_body img{
        width: 480px;
        margin-left: 0px;
      }
      
  }



